@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --azul: #AEC7E9;
  --roxo: #BFA4F8;
  --rosa: #F2C6F0;
  --roxo-escuro: #b490fd;
  --ciano: #9fd3e8;
  --rosa-escuro: #f4b2cb;
  
  --margin-medium: 4rem;
  --margin-large: 8rem;
  --margin-xlarge: 14rem;
}



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins !important;
  opacity: 1 !important;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}


